
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hanashi</title>
		<script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  </head>
  <body>
		<h1> {{.Hello}} </h1>	
		<div hx-ext="ws" ws-connect="/ws">
			Heloo
			<form ws-send>
				<input name="text" type="text" placeholder="text....">
				<button typr="submit">send</button>
				<div id="chat" hx-swap-oob="true"></div>
			</form>
		</div>

  </body>
</html>
